.editor-page {
  display: flex;
  position: relative;
  width: 100%;
  outline: none;
  .no-user-select();
}

.editor-page.tab-page.active {
  display: flex;
}

.editor-page span {
  padding-top: 1px;
  padding-bottom: 1px;
  line-height: 26px;
  font-family: "Source Code Pro", "Courier New", Consolas, Menlo, "PT Mono", "Liberation Mono", monospace;
  cursor: default;
  padding: 0 3px;
}

.editor-line-number {
  padding-left: 1rem;
  padding-right: 5px;
}

.editor-line-number div {
  padding-top: 1px;
  padding-bottom: 1px;
  font-family: "Source Code Pro", "Courier New", Consolas, Menlo, "PT Mono", "Liberation Mono", monospace;
  cursor: default;
}

.editor-hex-area,.editor-text-area{
  & span {
    padding: 0 3px;
    &:nth-child(16n)::after {
      content: "\a";
    }
  }
}




.editor-hex-area {
  white-space: pre-wrap;
  padding-left: 3rem;
  outline: none;
}

.editor-text-area {
  padding-left: 3rem;
  margin-right: 30px;
  white-space: pre-wrap;
  outline: none;
}

@import "./Hightlight";

