.search .module-content {
  padding: 1rem 1rem;
}

.search ul {
  display: block;
  width: 100%;
}

.search ul li {
  display: block;
  cursor: default;
  width: 100%;
  &:hover {
    background: #eee;
  }
}

.search button {
  width: 100%;
  margin: 0.5rem 0;
}

.search-progress {
  background-color: rgb(222, 228, 247);
  margin: 10px auto;
  width: 90%;
  height: 10px;
  border-radius: 4px;
  background-color: rgb(222, 228, 247);
  display: flex;
  align-items: center;
}

.search-progress-inner {
  height: 100%;
  border-radius: 4px;
  transition: all 0.5s cubic-bezier(0, 0.64, 0.36, 1);
  width: 0%;
  background-color: blue;
}
